body {
  background-color: #fff;
}

.main-nav-collapsed {
background-color: #fff;
}

.main-nav {
  background-color: #fff;
}


.main-header {
  background-color: #fff;
}

.main-content {
  background-color: #fff;
}

.main-footer {
background-color: #d3d3d3;
}
