body {
    font-family: Futura;
    font-weight: lighter;
    font-size: 16px;
    color: black;
}

.smaller-title {
    font-size: 12px;
}

.menu-image-text {
    font-weight: lighter;
    letter-spacing: 2px;
    color: black;
    text-decoration: none;
}

.main-nav-item>a  {
    text-decoration: none;
    color: black;
}

.main-nav-item:hover, .main-nav-item:visited {
  border-bottom: 3px solid black;
}

.lang-toggle-item:hover {
  color: #999;
}

.lang-toggle-item:active {
  border: 2px solid black;
}

.footer-text {
    font-size: 16px;
    color: #333;
}
